<div class="col-6 security_integration_item" data-name="zap">
    <div class="card card-row-1">
        <div class="card-header">
            <div class="d-flex">
                <h9 class="flex-grow-1" style="line-height: 24px">OWASP Zap</h9>

                <label class="custom-toggle">
                    <input type="checkbox" aria-expanded="false"
                           class="integration_checkbox" id="integration_checkbox_zap">
                    <span class="custom-toggle-slider rounded-circle"></span>
                </label>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('zap.static', filename='js/zap_reporter_toggle.js') }}" type="text/javascript"></script>
